/library/
/build/
/output/
/tmp/
/linf.html
/linf.pdf
/linf.tex
/linf.R
/linf_files/
/RJournal.tex
/RJournal.pdf
/Rplots.pdf
/RJwrapper.tex
/RJwrapper.pdf
/RJwrapper.log
/RJwrapper.aux
/RJwrapper.out
/linf.log
/linf.aux
/linf.out
/linf.bbl
/linf.blg
/paper.zip
/initial_checks.log
/motivation-letter/motivation-letter.pdf
/.Rhistory
